h1,
h2 {
  font-family: "Bebas Neue", cursive;
}

.header {
  background-color: rgb(255, 249, 245);
}

.hero-title {
  font-size: 4rem;
  color: #fa804c;
}

.hero-title span {
  color: #363958;
}

.casual-shoes-bg {
  background-color: #f1f1f1;
}

.price {
  color: #fa804c;
  font-weight: 700;
}

.card-title {
  font-weight: 700;
}
